<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
    <% include ../../partials/header %>
    <main>
      <h1 class="align-center">500</h1>
      <div class="align-center">
        <a href="/">Take me Home</a>
      </div>
    </main>
    <% include ../../partials/footer %>
  </body>
</html>
