<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
    <% include ../../partials/header %>
    <main>
      <h1>User Detail</h1>
      <table class="table">
        <tr>
          <th class="align-left">Name</th>
          <td>
            <%= user.name %>
          </td>
        </tr>
        <tr>
          <th class="align-left">Email</th>
          <td>
            <%= user.email %>
          </td>
        </tr>
      </table>
    </main>
    <% include ../../partials/footer %>
  </body>
</html>
